

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

body{
  background-color: #fbc608;
  font-family: 'Montserrat', sans-serif;

}

.other-text {
font-family: 'Roboto', sans-serif;
position: absolute;
top:25%;
left: 10%;
width: 35%;
}

.calc_wrapper{
  padding: 20px;
}

.other-text p {
  /*width: 60%;*/
}

.result-wrapper h4{
  min-height: 60px;
  text-align: right;
  font-weight: 500;
  border-bottom:1px solid;
}

.result{
  border: 8px solid #131212;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 12px;
  font-family: 'Orbitron', sans-serif;

}

/*.result {
  float: right;
}*/

.calculatorbody {
  width: 30%;
  position: absolute;
  top: 10%;
  left: 50%;
  margin: 0 auto ;
  text-align: center;
  padding: 20px 0px;
  box-shadow: 0px 8px 15px rgba(0 , 0 , 0 , 0.1);
}

button {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 5px;
  border:transparent;
  background-color: #fbfafa;
  color: black;

  padding: 15px;
  width: 25%;
  /*max-width: 70px;*/
  /*height: 20px;*/
  font-weight: 600;
  font-size: 24px;
}

@media (max-width: 720px){

  .other-text{
    /*padding-top: 50px;*/
    width: inherit;
    position: static;
  }

  .calculatorbody{
    width: 90%;
    position: static;
  }

  h2 , h1{
    font-size: 20px;
  }


}